<%- include("partials/header") %>

<section><div class="content">
    <h2 class="heading">BASIC BANKING SYSTEM</h2> <br> <br>
    <h4 class="heading">Tranfer the money more conveniently to <br> your friends, family. </h4> <br> <br>
    <h5 class="heading">It's the safe and secure method. <br>Transfering money is more easy now.</h5>
</div>
</section>
<aside>
    <img src="/images/image1.jpg" alt="">
</aside>


<%- include("partials/footer") %>
