<%- include("partials/header") %>


<div class="content">
    <h2 class="heading">BASIC BANKING SYSTEM</h2> <br> <br>
    <h4 class="heading">Tranfer the money more conveniently to your friends, family. </h4> <br> <br>
    <h5 class="heading">It's the safe and secure method. <br>Transfering money is more easy now.</h5>

</div>

<!-- <div class="content">
    <h4 class="heading">Tranfer the money more conveniently to your friends, family. </h4>
</div>


<div class="content">
    <h5 class="heading">It's the safe and secure method. <br>Trasferring money is more easy now.</h5>
</div> -->

<%- include("partials/footer") %>
