
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}


nav{
    height: 3rem;
    background-color: #51af2d;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    list-style: none;
    padding: 1.36rem;
}

.link a{
    text-decoration: none;
   
}

.link1 a{
    color: white;
}

.link2 a{
    color : white;
}

.link3 a{
    color: white;
}

.link1:hover{
   
    color : black;
}

.link2:hover{
    color : black;
    
}

.link3:hover{
    color : black;
    
}

li:hover a {
    color: inherit;
}

.brand{
    color: rgb(255, 255, 255);
    padding-top: 1rem;
}




.container{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.btn{
    margin: 2rem;
    padding : 0.75rem;
    font-size: 2rem;
    background-color: #002642;
    border-radius: 5%;
}

.btn a{
    text-decoration: none;
    color : #F7FE72;
    font-family: 'Roboto Slab', serif;
}

.btn:hover{
    background-color: #02040F;
}

.btn:hover a{
    color: blanchedalmond;
}

.content{
    margin-top: 4rem;
    margin-left: 24%;
    max-width: 50vw;
    color: black;
    background-color: white;
    text-align: center;
}

.heading{
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.main-content{
    margin-top: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
    font-size: 1.5rem;
    padding : 0 25%;
}
.main-content2{
    margin-top: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
    font-size: 1.5rem;
    padding : 0 38%;
}


.table{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: left;
    margin: 10% -10%;
    width: 63%;
}

table {
    font-family: 'Roboto Slab', sans-serif;
    border-collapse: collapse;
    width: 50%;
  }

  td, th {
    border: 1px solid #02040F;
    text-align: left;
    padding: 8px;
    background-color: white;
  }


 
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 2rem 0;
}

section {
    float: left;
    margin: 10% -15%;
    width: 63%;
  }

  aside{
    float: right;
    margin: 7% -18%;
    width: 63%;
  }
  


.view-header{
     position: relative;  
    top: 120px;
    left: 220px;
    color: black;
}

.lastone{
    float: left;
    margin: 5% -10%;
    width: 63%;
}


.select-btn{
    text-transform: uppercase;
    font-size: 1rem;
    padding : 0.2rem;
    background-color: #16e416;

}

.select-btn a{
    text-decoration: none;
    color : #F3F9D2;
}

.select-btn:hover {
    background-color: #13c56c;
}

.select-btn:hover a{
    color: #ffffff;
}



.transfer-header{
    position: relative;  
    top: 120px;
    left: 250px;
    color: black;
}
.transfer-btn{
    text-transform: uppercase;
    font-size: 1rem;
    padding : 0.2rem;
    background-color: #0eee85;
}

.transfer-btn a{
    text-decoration: none;
    color: #02040F;
}

.transfer-btn:hover{
    background-color: #36ec2f;
}

.transfer-btn:hover a{
    color: #02040F;
}



.form-body1{
    margin-top: 1rem;
    margin-left: 35%;
    margin-right: 33%;
    font-size: 1.5rem;
    background-color: white;
}

.form-body1 h1{
    color: #000000;
}

.form-body2{
    margin-top: 1rem;
    margin-left: 35%;
    margin-right: 33%;
    font-size: 1.5rem;
    background-color: white;
}

.form-body2 h1{
    color: #000000;
}

.form{
    margin-top: 3rem;
    margin-left: 35%;
}
.form label{
   
    font-size: 1.5rem;
}
.form input{
    margin-top: 0.5rem;
    font-size: 2rem;
}
.transfer2-btn{
    margin: 0.5rem 0 0 15%;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding : 0.2rem;
    background-color: #35e461;
    color: whitesmoke;
}
.transfer2-btn:hover{
    background-color: #7eddad;
    color: #fcfcfc;
}

.history-header{
    position: relative;  
    top: 120px;
    left: 150px;
    color: black;
}
